<!doctype html>
<html lang="en">
  <head>
    <title>real time chat - mongodb</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/assets/css/css.css" />
  </head>
  <body>

<div class="errorPage">
  <h1>
    404 NOT FOUND
  </h1>
  <hr>
  <a href="/">Go back home</a>
</div>

  </body>
</html>
